extends layout

block content
	.index
		.left
			.header
				h2 New Posts:
			.indexnew
				- for(var i = 0; i < 5; i++)
					- var post = posts[i];
					.indexpost
						h3: a(href=`/posts/${post.id}`)= post.title
						p.name Submitted by 
							a(href=`/users/${post.user_id}`) #{post.username}
						p.topic= post.topic
				if cookies
					a.create(href=`/posts/`)
						.create All posts
					a.create(href=`/posts/new`)
						.create Create post
		.right
			.search
				h2 Search
				input(type='text' placeholder='Search')
			if !cookies
				.login
					h2 Login
					form(method='POST' action='/login')
						input(type='text' placeholder='Username' name='un')
						br
						input(type='password' placeholder='Password' name='pw')
						br
						button(type='submit') Login
