extends layout

block content
	h1 Login
	form(method='POST' action='/login')
		input(type='text' placeholder='Username' name='un')
		input(type='password' placeholder='Password' name='pw')
		button(type='submit') Login
