extends layout

block content
	.login
		h2 Login
		form(method='POST' action='/login')
			input(type='text' placeholder='Username' name='un')
			br
			input(type='password' placeholder='Password' name='pw')
			br
			button(type='submit') Login
