extends ../layout

block content
	h1 Edit post
	form(method='POST' action=`/posts/${post.id}`)
		input(type='text' placeholder='Title' name='title' value=`${post.title}`)
		input(type='textarea' placeholder='Body' name='body' value=`${post.body}`)
		input(type='text' placeholder='Topic' name='topic' value=`${post.topic_id}`)
		button(type='submit') Submit

	
